<header id="about">
    <div class="header-content">
        <div class="header-content-inner">
            <h1><span id="main-head"><span class="main-text-first">Climate<span class="main-text-second">Uni</span></span></span></h1>
            <hr>
            <p><span class="custom-text">Climateuni is non-profit organization which aims to tackle climate crisis by making Basic Infrastructure and Services (BIS) or resources freely without any cost to local students. Basic Infrastructure and Services(BIS) or resources are Water, Electricity, Health, Internet, Housing, Factory, Education, Security, Transportation and Food.<span></p>
            <a href="#more" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
            <br>
            <br>
            <br>
            <h2>Covid19</h2>
            <hr>
            <p><span class="custom-text">Climateuni is not just limited to tackling Climate change. The resources at Climateuni can be used to tackle any future emergency crisis including current Covid19 pandemic.
</span></p>
            <p><span class="custom-text">Currently Climateuni is providing 3d printed faceshields  and straps freely to local hospitals at Kathmandu and Lalitpur.</span></p>
            <a href="#covid19" class="btn btn-primary btn-xl page-scroll">Get Free Faceshield</a>
        </div>
    </div>
</header>
